In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv(r"D:\Projects\Tableau\layoffs_data.csv")

In [3]:
data

,Company,Location,Industry,Laid_Off_Count,Percentage,Date,Source,Funds_Raised,Stage,Date_Added,Country,List_of_Employees_Laid_Off
0,Swiggy,Bengaluru,Food,600.0,0.10,2023-01-19 00:00:00,https://timesofindia.indiatimes.com/business/i...,3600.0,Unknown,2023-01-20 01:19:50,India,Unknown
1,WeWork,New York City,Real Estate,300.0,NaN,2023-01-19 00:00:00,https://investors.wework.com/news-and-events/p...,22200.0,IPO,2023-01-19 17:03:45,United States,Unknown
2,Hubilo,SF Bay Area,Other,115.0,0.35,2023-01-19 00:00:00,https://inc42.com/buzz/hubilo-fires-35-of-its-...,153.0,Series B,2023-01-20 01:03:30,United States,Unknown
3,Riot Games,Los Angeles,Consumer,46.0,NaN,2023-01-19 00:00:00,https://www.eurogamer.net/riot-games-reportedl...,21.0,Acquired,2023-01-20 01:06:09,United States,Unknown
4,Fandom,SF Bay Area,Media,NaN,NaN,2023-01-19 00:00:00,https://variety.com/2023/digital/news/fandom-l...,145.0,Series E,2023-01-20 01:21:46,United States,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
2017,Service,Los Angeles,Travel,NaN,1.00,2020-03-16 00:00:00,https://techcrunch.com/2020/03/16/travel-savin...,5.1,Seed,2020-08-31 15:17:26,United States,Unknown
2018,HopSkipDrive,Los Angeles,Transportation,8.0,0.10,2020-03-13 00:00:00,https://layoffs.fyi/2020/04/02/hopskipdrive-la...,45.0,Unknown,2020-04-03 04:47:03,United States,Unknown
2019,Panda Squad,SF Bay Area,Consumer,6.0,0.75,2020-03-13 00:00:00,https://twitter.com/danielsinger/status/123854...,1.0,Seed,2020-04-17 00:12:49,United States,Unknown
2020,Tamara Mellon,Los Angeles,Retail,20.0,0.40,2020-03-12 00:00:00,https://layoffs.fyi/list/tamara-mellon/,90.0,Series C,2020-03-31 16:04:23,United States,Unknown
2021,EasyPost,Salt Lake City,Logistics,75.0,NaN,2020-03-11 00:00:00,https://www.bizjournals.com/louisville/news/20...,12.0,Series A,2020-03-31 13:21:54,United States,Unknown

In [5]:
data=data.drop(['Date_Added', 'Stage','List_of_Employees_Laid_Off'],axis=1)
data

,Company,Location,Industry,Laid_Off_Count,Percentage,Date,Source,Funds_Raised,Country
0,Swiggy,Bengaluru,Food,600.0,0.10,2023-01-19 00:00:00,https://timesofindia.indiatimes.com/business/i...,3600.0,India
1,WeWork,New York City,Real Estate,300.0,NaN,2023-01-19 00:00:00,https://investors.wework.com/news-and-events/p...,22200.0,United States
2,Hubilo,SF Bay Area,Other,115.0,0.35,2023-01-19 00:00:00,https://inc42.com/buzz/hubilo-fires-35-of-its-...,153.0,United States
3,Riot Games,Los Angeles,Consumer,46.0,NaN,2023-01-19 00:00:00,https://www.eurogamer.net/riot-games-reportedl...,21.0,United States
4,Fandom,SF Bay Area,Media,NaN,NaN,2023-01-19 00:00:00,https://variety.com/2023/digital/news/fandom-l...,145.0,United States
...,...,...,...,...,...,...,...,...,...
2017,Service,Los Angeles,Travel,NaN,1.00,2020-03-16 00:00:00,https://techcrunch.com/2020/03/16/travel-savin...,5.1,United States
2018,HopSkipDrive,Los Angeles,Transportation,8.0,0.10,2020-03-13 00:00:00,https://layoffs.fyi/2020/04/02/hopskipdrive-la...,45.0,United States
2019,Panda Squad,SF Bay Area,Consumer,6.0,0.75,2020-03-13 00:00:00,https://twitter.com/danielsinger/status/123854...,1.0,United States
2020,Tamara Mellon,Los Angeles,Retail,20.0,0.40,2020-03-12 00:00:00,https://layoffs.fyi/list/tamara-mellon/,90.0,United States
2021,EasyPost,Salt Lake City,Logistics,75.0,NaN,2020-03-11 00:00:00,https://www.bizjournals.com/louisville/news/20...,12.0,United States

In [6]:
data.isnull().sum()

Company             0
Location            0
Industry            0
Laid_Off_Count    623
Percentage        657
Date                0
Source              0
Funds_Raised      153
Country             0
dtype: int64

In [8]:
data = data.dropna()

In [9]:
data.isnull().sum()

Company           0
Location          0
Industry          0
Laid_Off_Count    0
Percentage        0
Date              0
Source            0
Funds_Raised      0
Country           0
dtype: int64

In [10]:
data

,Company,Location,Industry,Laid_Off_Count,Percentage,Date,Source,Funds_Raised,Country
0,Swiggy,Bengaluru,Food,600.0,0.10,2023-01-19 00:00:00,https://timesofindia.indiatimes.com/business/i...,3600.0,India
2,Hubilo,SF Bay Area,Other,115.0,0.35,2023-01-19 00:00:00,https://inc42.com/buzz/hubilo-fires-35-of-its-...,153.0,United States
10,Microsoft,Seattle,Other,10000.0,0.05,2023-01-18 00:00:00,https://www.usatoday.com/story/money/2023/01/1...,1.0,United States
11,Sophos,Oxford,Security,450.0,0.10,2023-01-18 00:00:00,https://techcrunch.com/2023/01/18/sophos-globa...,125.0,United States
12,Teladoc Health,New York City,Healthcare,300.0,0.06,2023-01-18 00:00:00,https://digitalhealth.modernhealthcare.com/fin...,172.0,United States
...,...,...,...,...,...,...,...,...,...
2015,Inspirato,Denver,Travel,130.0,0.22,2020-03-16 00:00:00,https://businessden.com/2020/03/16/inspirato-c...,79.0,United States
2016,Help.com,Austin,Support,16.0,1.00,2020-03-16 00:00:00,LinkedIn,6.0,United States
2018,HopSkipDrive,Los Angeles,Transportation,8.0,0.10,2020-03-13 00:00:00,https://layoffs.fyi/2020/04/02/hopskipdrive-la...,45.0,United States
2019,Panda Squad,SF Bay Area,Consumer,6.0,0.75,2020-03-13 00:00:00,https://twitter.com/danielsinger/status/123854...,1.0,United States
2020,Tamara Mellon,Los Angeles,Retail,20.0,0.40,2020-03-12 00:00:00,https://layoffs.fyi/list/tamara-mellon/,90.0,United States

In [11]:
data.describe()

       Laid_Off_Count  Percentage   Funds_Raised
count      971.000000  971.000000     971.000000
mean       235.615860    0.231089     838.424156
std        767.944724    0.212690    5885.830153
min          3.000000    0.000000       0.000000
25%         36.000000    0.100000      58.000000
50%         78.000000    0.170000     163.000000
75%        170.000000    0.300000     453.000000
max      11000.000000    1.000000  121900.000000

In [13]:
data =data.sort_values(by='Company')
data

,Company,Location,Industry,Laid_Off_Count,Percentage,Date,Source,Funds_Raised,Country
356,&Open,Dublin,Marketing,9.0,0.09,2022-11-17 00:00:00,https://www.irishtimes.com/technology/2022/11/...,35.0,Ireland
815,10X Genomics,SF Bay Area,Healthcare,100.0,0.08,2022-08-04 00:00:00,https://www.genomeweb.com/business-news/10x-ge...,242.0,United States
1860,1stdibs,New York City,Retail,70.0,0.17,2020-04-02 00:00:00,https://twitter.com/eringriffith/status/124614...,253.0,United States
1200,2TM,Sao Paulo,Crypto,90.0,0.12,2022-06-01 00:00:00,https://www.terra.com.br/noticias/tecnologia/2...,250.0,Brazil
690,2TM,Sao Paulo,Crypto,100.0,0.15,2022-09-01 00:00:00,https://finance.yahoo.com/news/second-round-la...,250.0,Brazil
...,...,...,...,...,...,...,...,...,...
397,iFit,Logan,Fitness,300.0,0.20,2022-11-14 00:00:00,https://www.sltrib.com/news/2022/11/14/hundred...,200.0,United States
1162,iPrice Group,Kuala Lumpur,Retail,50.0,0.20,2022-06-08 00:00:00,https://www.techinasia.com/malaysias-iprice-gr...,26.0,Malaysia
806,iRobot,Boston,Consumer,140.0,0.10,2022-08-05 00:00:00,https://www.geekwire.com/2022/amazon-to-acquir...,30.0,United States
18,nCino,Wilmington,Finance,100.0,0.07,2023-01-18 00:00:00,https://portcitydaily.com/local-news/2023/01/1...,1100.0,United States
1905,uShip,Austin,Logistics,65.0,0.37,2020-03-31 00:00:00,https://www.bizjournals.com/austin/news/2020/0...,69.0,United States

In [14]:
data = data.drop_duplicates(subset='Company',keep='last')
data

,Company,Location,Industry,Laid_Off_Count,Percentage,Date,Source,Funds_Raised,Country
356,&Open,Dublin,Marketing,9.0,0.09,2022-11-17 00:00:00,https://www.irishtimes.com/technology/2022/11/...,35.0,Ireland
815,10X Genomics,SF Bay Area,Healthcare,100.0,0.08,2022-08-04 00:00:00,https://www.genomeweb.com/business-news/10x-ge...,242.0,United States
1860,1stdibs,New York City,Retail,70.0,0.17,2020-04-02 00:00:00,https://twitter.com/eringriffith/status/124614...,253.0,United States
690,2TM,Sao Paulo,Crypto,100.0,0.15,2022-09-01 00:00:00,https://finance.yahoo.com/news/second-round-la...,250.0,Brazil
711,54gene,Washington D.C.,Healthcare,95.0,0.30,2022-08-29 00:00:00,https://techcrunch.com/2022/08/29/african-geno...,44.0,United States
...,...,...,...,...,...,...,...,...,...
397,iFit,Logan,Fitness,300.0,0.20,2022-11-14 00:00:00,https://www.sltrib.com/news/2022/11/14/hundred...,200.0,United States
1162,iPrice Group,Kuala Lumpur,Retail,50.0,0.20,2022-06-08 00:00:00,https://www.techinasia.com/malaysias-iprice-gr...,26.0,Malaysia
806,iRobot,Boston,Consumer,140.0,0.10,2022-08-05 00:00:00,https://www.geekwire.com/2022/amazon-to-acquir...,30.0,United States
18,nCino,Wilmington,Finance,100.0,0.07,2023-01-18 00:00:00,https://portcitydaily.com/local-news/2023/01/1...,1100.0,United States
1905,uShip,Austin,Logistics,65.0,0.37,2020-03-31 00:00:00,https://www.bizjournals.com/austin/news/2020/0...,69.0,United States

In [15]:
data.to_csv('layoffs_data_new.csv')